@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1692890369837') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-zhaoxiangji:before {
  content: "\f0092";
}

.icon-xiai:before {
  content: "\f0145";
}

.icon-zhaoxiangji1:before {
  content: "\e663";
}

.icon-left:before {
  content: "\e63b";
}

.icon-icon_xiaolian-xian:before {
  content: "\e650";
}

.icon-aixin:before {
  content: "\eca1";
}

.icon-pinglun:before {
  content: "\e602";
}

.icon-ellipsis:before {
  content: "\e58a";
}

